nav{
    background-color: #b77844;
    color: white;
}
.logo-img{
    width: 50px;
}
/* Banner */
.banner {

    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Categorias */
.card-categoria {
    border-width: 0px !important;
    border-radius: 30px !important;
    padding: 0px !important;
    margin: 0px !important;
    text-align: center;
}

.card-produto{
    height: 100px !important;
}
/* Cartões de Produto */
.img-produto {
    width: 300px !important;
    padding: 20px;
    text-align: center;
}